<!DOCTYPE html>
<html>
    <head>
        <title>First Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
       
    </head>
    <body>
        <div>
            <header>
                <div>
                    <h1 id="blog-title">THE GOODS!</h1>
                    <p>A new way to view up to date news on Auto, Technology, and Food. </p>
                    <div>
                        <p>Coder - Gamer - Foodie</p>
                    </div>
                    <div class="ui menu center" id="navbar">
                        <div class="container header-menu">
                                <a href="/blogs" class="item">HOME</a>
                                <a href="/blogs/tech" class="item">TECH</a>
                                <a class="item">AUTO</a>
                                <a class="item">FOOD</a>
                                <a class="item">ABOUT ME</a>
                               <!--<a href="/blogs/new" class="item">NEW BLOG</a>-->
                        </div>
                    </div>
                </div>
                <hr>
            </header>
        </div>
        
        